ADK_DEBUG="false" # enable this for framework logs
GOOGLE_API_KEY= # get it from https://aistudio.google.com/apikey
LLM_MODEL="gemini-1.5-flash" # specify the model to use
AMADEUS_API_KEY=""
AMADEUS_API_SECRET=""